# Keep itself Dockerfile out of building
Dockerfile

# Keep node_modules out of building
node_modules

# Keep environment variables out of building
.env

# Keep git folder out of building
.git/

# Keep dist files out of building
dist

# Keep unused folder out if building
.unused

# Keep volume folder out of building
_volume