# Keep node_modules out of version control
node_modules

# Keep environment variables out of version control
.env

# Keep records files out of version control
records

# Keep dist files out of version control
dist

# Keep unused folder out if version control
unused