# Keep node_modules out of version control
node_modules

# Keep environment variables out of version control
.env

# Keep dist files out of version control
dist

# Keep unused folder out if version control
.unused

# Keep volume folder out of version control
_volume

# Keep log folder out of version control
logs